In [1]:
import pandas as pd
from matplotlib import pyplot as plt

zener = pd.read_csv("zener_diode.csv", skiprows=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11])
signal = pd.read_csv("signal_diode.csv", skiprows=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11])
zener_3v = pd.read_csv("1N5223_3.3V_zener_diode.csv", skiprows=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11])
bzt = pd.read_csv("BZT52C2V7_zener_diode.csv", skiprows=[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11])
fig, axes = plt.subplots(4)

              Time      u1/v      u2/i
0     0.000000e+00 -3.282628 -0.030534
1     4.500000e-09 -3.282628 -0.030534
2     1.350000e-08 -3.282628 -0.030534
3     3.150000e-08 -3.282628 -0.030534
4     6.300000e-08 -3.282628 -0.030534
...            ...       ...       ...
2667  9.966731e+00  0.698088  0.041979
2668  9.977943e+00  0.698203  0.042080
2669  9.989162e+00  0.698318  0.042182
2670  1.000000e+01  0.698429  0.042280
2671  1.000000e+01  0.698429  0.042280

[2672 rows x 3 columns]